In [ ]:
#create a dataframe from list
column_names = ["student_id", "age"]
result_dataframe = pd.DataFrame(student_data, columns=column_names)

In [ ]:
#get size of a dataframe
[players.shape[0], players.shape[1]]

In [ ]:
#filter by a column
students[['name','age']][students['student_id']==101]

In [ ]:
#create a new column
employees['bonus']=2*employees['salary']

In [ ]:
#drop duplicate rows
#email column has duplicates, remove duplicates and only keep the first occurance
customers.drop_duplicates(subset=['email'],keep='first')

In [ ]:
#drop missing data
#name column has missing values
students=students.dropna(subset=['name'])

In [ ]:
#modify columns
employees['salary']=employees['salary']*2

In [ ]:
#rename columns
students=students.rename(columns={'id':'student_id','first':'first_name','last':'last_name','age':'age_in_years'})

In [ ]:
#change data type
students = students.astype({'grade': 'int'})

In [ ]:
#fill missing data
products['quantity']=products['quantity'].fillna(0)

In [ ]:
#reshape - concatnate
#keep columns
all_df = [df1, df2]
final_df = pd.concat(all_df, ignore_index=True)

In [ ]:
#reshape - pivot
#rows in the same column city to separate columns - column beijing, column shanghai
pivoted = weather.pivot(index='month', columns='city', values='temperature')
pivoted.columns.name=None

In [ ]:
#reshape - melt
#columns to one column - quarter_1 to 4 to a new column quarter
report=pd.melt(report, id_vars=['product'], value_vars=['quarter_1','quarter_2','quarter_3','quarter_4'], var_name='quarter', value_name='sales')

In [ ]:
#method chaining
animals[animals['weight']>100].sort_values(by='weight',ascending=False)[['name']]